#info {
                /* border: 2px solid black; */
                box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
                height: 80vh;
                width: 300px;
                padding-left: 20px;
                padding-right: 10px;
                color: rgb(43,43,43);
            }
            #info-list {
                list-style: none;
                color: rgb(43,43,43);
                font-weight: 700;
                margin-bottom: 20px;
                margin-top: 20px;
                line-height: 1.2;
            }
            #myBtn {
                background: transparent;
                border: none;
                font-size: 20px;
            }
            #info-list span {
                font-weight: 200;
            }
            .list-instructions {
                padding: 10px;
            }
            .bold {
                font-weight: 700;
                color: rgb(43,43,43);

            }
            #info h1 {
                font-size: 24px;
                margin-top: 20px;
                margin-bottom: 10px;
                font-weight: 700;
            }
            ul a {
                color: rgb(81, 138, 177);
            }
            img {
                height: 30%;
                width: 80%;
                object-fit:cover
            }
            