#right-third {
                width: 300px;
                height: 80vh;
                overflow-y: auto;
                /* border: 2px solid black; */
                box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            }
            #vertical-list li {
                
                color: rgb(43,43,43);
                display: block;
                padding: 12px;
                text-decoration: none;
                /* border: 1px solid black; */
                box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.1);
                cursor:pointer;
            }
            #vertical-list li:hover {
                background-color: rgb(81, 138, 177);
                color: white;
            }
            
            #vertical-list li.active{
                background-color: rgb(81, 138, 177);
                color: white;
            }